<div class="container">

  <!-- 배경이미지 -->
  <img class="sound-background" src="assets/movingbackgroud.gif"/>

  <!-- 음악재생부분 -->
  <div class="menu-container">
    <img class="guide" src="assets/guide.png"/>

    <img *ngIf="isPlaying==0" (click)="onClick_play()" class="play" src="assets/unactive_play.png"/>
    <img *ngIf="isPlaying==1" class="playing" src="assets/play.gif"/>
  </div>

  <br>


  <table class="bottom-table">
  <tbody>
  <tr style="width: 100%;">
    <td style="width: 74%;">
      <form>
        <div class="group">
          <input class="" type="text" name="answerInput" [(ngModel)]="answerStr"  required="required"/><span class="highlight"></span><span class="bar"></span>
          <label>이 노래의 이름은?</label>
        </div>
      </form>
    </td>
    <td style="color:#ffffff; width: 25%;">
      <img class="submit-btn" src="assets/send.png" (click)="onClick_submit()"/>
    </td>
  </tr>
  </tbody>
  </table>


</div>
